{% if template contains 'product' or template contains 'collection' or template contains 'index' or template contains 'search' or template contains 'cart' %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122222759-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-122222759-1', {'send_page_view': false, 'custom_map': {'dimension1': 'ecomm_prodid', 'dimension2': 'ecomm_pagetype', 'dimension3': 'ecomm_totalvalue', 'dimension3': 'ecomm_pageTitle' }});
  gtag('config', 'AW-781148787');
</script>

<script>
  gtag('event', 'page_view', {
    'ecomm_pagetype': '{% if template contains 'collection' %}category{% elsif template contains 'search' %}searchresults{% elsif template contains 'product' %}product{% elsif template contains 'cart' %}cart{% elsif template contains 'index' %}home{% endif %}',
    {% if template contains 'product' %}
    'ecomm_prodid': 'shopify_US_{{ product.id }}_{% if product.variants.first.id %}{{ product.variants.first.id }}',{% else %}{{ product.variants.id }}',{% endif %}
    'ecomm_totalvalue': {{ product.price_max | money_without_currency | replace: ',', '.' }},
    {% elsif template contains 'cart' %}
    'ecomm_prodid': [{% for item in cart.items %}'shopify_US_{{ item.product_id }}_{{ item.variant_id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
    'ecomm_totalvalue': {{ cart.total_price | money_without_currency | replace: ',', '.' }},
    {% endif %}
    'non_interaction': true
  });
</script>


{% endif %}
