<svg version="1.1" class="dur" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 56.7 56.7" style="enable-background:new 0 0 56.7 56.7;" xml:space="preserve">
<style type="text/css">
	.dur .st0{fill:none;stroke:#A1DDF4;stroke-width:2.839;stroke-miterlimit:10;}
	.dur .st1{fill:#6D787C;}
</style>
<g id="Layer_3">
	<path class="st0" d="M27.4,35c0.8-0.6,7.1-5.9,12.4-6.1c1.7-0.1,3.2,0.2,3.2,0.2c0.9,0.2,3.1,0.7,5,2.4c3.6,3.2,3.1,8.2,3.1,8.7
		c-0.1,0.8-0.4,3.4-2.3,5.6c-2.1,2.4-4.8,3-7,3.5c-4.8,1-10.2-0.7-12.6-1.5"/>
	<path class="st1" d="M31.3,47.4c0.5-0.5,0.9-1.1,1.3-1.8c0.6-1,1-2,1.2-3.1l-2.6-0.6c-0.2,0.8-0.5,1.6-0.9,2.3
		c-1.4,2.4-3.9,3.8-6.7,3.8H12.7c-1.1,0-2.2-0.5-3-1.3s-1.2-1.9-1.2-3c0.1-6.5,1.9-20,6.4-28.7v-0.1l2.5-6.4h10.4l3.5,4.3
		c0,0.1,0.1,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.1L26.5,15l-7.7-1.6l-0.2,1.3c-0.1,0.5-2.4,13.5-1.4,19.2l0.4,2.4l2.1-1.9
		c1.4-1.2,3.2-1.8,5-1.8c1.2,0,1.6-0.1,2.6,0.5l2.5-1.8c-1.7-1.1-3.1-1.3-5.2-1.3c-1.8,0-3.6,0.5-5.1,1.3
		c-0.1-4.7,0.9-11.8,1.4-14.7l5.8,1.2l5.4-2.3c0.8-0.3,1.4-1.1,1.7-1.9c0.2-0.9,0-1.8-0.6-2.5l-4.3-5.2H15.4l-3.1,8
		C7.7,23,5.8,37,5.7,43.7c0,1.9,0.7,3.6,2,4.9s3,2.1,4.9,2.1h10.9c1.6,0,3.2-0.4,4.7-1.1c0.5-0.3,1-0.6,1.6-1.1
		C30.5,48.2,31,47.8,31.3,47.4z"/>
</g>
</svg>
