<svg version="1.1" class="qtd" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 246.7 92.1" style="enable-background:new 0 0 246.7 92.1;max-width: 175px;" xml:space="preserve">
<style type="text/css">
	.qtd .st0{fill:#6D787C;}
	.qtd .st1{fill:#A1DDF4;}
</style>
<path id="XMLID_389_" class="st0" d="M143.8,48.6c-0.4-4.4-2.4-8.6-5.6-11.7c-2.7-2.7-6-4.4-9.5-5.2v-2.4c1.4-0.4,2.5-1.6,2.5-3.2
	c0-1.8-1.5-3.3-3.3-3.3H121c-1.8,0-3.3,1.5-3.3,3.3c0,1.5,1.1,2.8,2.5,3.2v2.4c-3.5,0.8-6.7,2.5-9.4,5.2c-0.6,0.6-1.1,1.2-1.6,1.8
	c0,0,0,0-0.1,0h-6.8c-0.5,0-1,0.4-1,1s0.4,1,1,1h5.6c-0.7,1.2-1.3,2.4-1.7,3.7H95.8c-0.5,0-1,0.4-1,1s0.4,1,1,1h9.9
	c-0.3,1.2-0.4,2.4-0.5,3.7H101c-0.5,0-1,0.4-1,1c0,0.5,0.4,1,1,1h4.3c0.1,1.2,0.3,2.5,0.6,3.7h-6.2c-0.5,0-1,0.4-1,1
	c0,0.5,0.4,1,1,1h6.8c0.9,2.5,2.4,4.8,4.4,6.8c3.2,3.2,7.3,5.1,11.8,5.6c0.6,0.1,1.3,0.1,1.9,0.1c3.7,0,7.4-1.1,10.6-3.1
	c0.4-0.3,0.6-0.9,0.3-1.3s-0.9-0.6-1.3-0.3c-6.8,4.5-16,3.5-21.8-2.3c-6.8-6.8-6.8-17.8,0-24.6s17.8-6.8,24.6,0
	c5.8,5.8,6.7,14.9,2.3,21.8c-0.3,0.4-0.2,1,0.3,1.3c0.4,0.3,1,0.2,1.3-0.3C143.1,57.4,144.2,53,143.8,48.6z M119.7,26.1
	c0-0.7,0.6-1.3,1.3-1.3h6.9c0.7,0,1.3,0.6,1.3,1.3c0,0.7-0.6,1.3-1.3,1.3h-0.2h-6.5H121C120.3,27.4,119.7,26.8,119.7,26.1z
	 M122.2,31.4v-2h4.6v2C125.3,31.2,123.8,31.2,122.2,31.4z"/>
<path id="XMLID_391_" class="st0" d="M137.5,62.6c-0.3,0-0.5,0.1-0.7,0.3s-0.3,0.4-0.3,0.7s0.1,0.5,0.3,0.7s0.4,0.3,0.7,0.3
	s0.5-0.1,0.7-0.3c0.2-0.2,0.3-0.4,0.3-0.7s-0.1-0.5-0.3-0.7C138,62.7,137.8,62.6,137.5,62.6z"/>
<path id="XMLID_394_" class="st0" d="M124.5,35.7c-8.2,0-14.8,6.7-14.8,14.8s6.7,14.8,14.8,14.8c8.2,0,14.8-6.7,14.8-14.8
	S132.7,35.7,124.5,35.7z M124.5,63.5c-7.1,0-12.9-5.8-12.9-12.9s5.8-12.9,12.9-12.9c7.1,0,12.9,5.8,12.9,12.9S131.7,63.5,124.5,63.5
	z"/>
<path id="XMLID_397_" class="st1" d="M130.6,43.1l-4.7,4.7c-0.4-0.2-0.8-0.3-1.3-0.3s-0.9,0.1-1.3,0.3l-2.1-2.1
	c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l2.1,2.1c-0.2,0.4-0.3,0.8-0.3,1.3c0,1.6,1.3,3,3,3s3-1.3,3-3c0-0.5-0.1-0.9-0.3-1.3l4.6-4.6l0,0
	l0.1-0.1c0.4-0.4,0.4-1,0-1.4C131.6,42.8,131,42.8,130.6,43.1z M124.5,51.6c-0.6,0-1.1-0.5-1.1-1.1s0.5-1.1,1.1-1.1s1.1,0.5,1.1,1.1
	S125.1,51.6,124.5,51.6z"/>
<path id="XMLID_398_" class="st1" d="M134.8,49.6h-0.9c-0.5,0-1,0.4-1,1c0,0.5,0.4,1,1,1h0.9c0.5,0,1-0.4,1-1
	C135.7,50,135.3,49.6,134.8,49.6z"/>
<path id="XMLID_399_" class="st1" d="M115.2,49.6h-0.9c-0.5,0-1,0.4-1,1c0,0.5,0.4,1,1,1h0.9c0.5,0,1-0.4,1-1S115.7,49.6,115.2,49.6
	z"/>
<path id="XMLID_400_" class="st1" d="M124.6,42.2c0.5,0,1-0.4,1-1v-0.9c0-0.5-0.4-1-1-1s-1,0.4-1,1v0.9
	C123.6,41.7,124,42.2,124.6,42.2z"/>
<path id="XMLID_424_" class="st1" d="M124.5,58.9c-0.5,0-1,0.4-1,1v0.9c0,0.5,0.4,1,1,1s1-0.4,1-1v-0.9
	C125.5,59.4,125.1,58.9,124.5,58.9z"/>
<path id="XMLID_425_" class="st0" d="M95.8,55.5c-0.3,0-0.5,0.1-0.7,0.3s-0.3,0.4-0.3,0.7s0.1,0.5,0.3,0.7c0.2,0.2,0.4,0.3,0.7,0.3
	s0.5-0.1,0.7-0.3s0.3-0.4,0.3-0.7s-0.1-0.5-0.3-0.7C96.3,55.6,96.1,55.5,95.8,55.5z"/>
</svg>
