<svg version="1.1" class="lsf" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 92 72.1" style="enable-background:new 0 0 92.7 92.1;max-width: 87px;" xml:space="preserve">
<style type="text/css">
	.lsf .st0{    
    fill: #6d787c;
    stroke: #6d787c;
    stroke-width: 0.839px;
    stroke-miterlimit: 10;
    }
	.lsf .st1{fill: #A1DDF4;}
	.lsf .st2{
    fill: none;
    stroke: #A1DDF4;
    stroke-width: 2.6837px;
    stroke-miterlimit: 10;
    }
</style>
<path class="st0" d="M55.1,52.3c5.6-0.4,10.5-5.2,10.5-10.9c0-5.3-3.8-9.7-8.8-10.6c-0.5-5.7-5.3-10.2-11.2-10.2
	c-5.8,0-10.7,4.5-11.2,10.2c-5,0.9-8.8,5.3-8.8,10.6c0,2.7,1,5.3,2.9,7.4c1.9,2,4.8,3.3,7.5,3.5l0,0L34.2,49c-3.3-1-5.6-4-5.6-7.5
	c0-4.3,3.5-7.9,7.9-7.9c1.3,0,2.7,0.3,3.9,1c0.7,0.4,1.6,0.1,2-0.6c0.4-0.7,0.1-1.6-0.6-2c-1.3-0.7-2.8-1.2-4.3-1.3
	c0.6-4,4-7.1,8.2-7.1c4.6,0,8.3,3.7,8.3,8.3V32v0.1c0,0.1,0,0.1,0,0.2c-0.1,1.6-0.6,3.1-1.5,4.4c-0.5,0.7-0.3,1.6,0.3,2.1
	c0.3,0.2,0.6,0.3,0.9,0.3c0.5,0,0.9-0.2,1.2-0.6c1-1.4,1.6-2.9,1.9-4.5c3.5,0.8,6,4,6,7.6c0,3.5-2.4,6.6-5.6,7.5L55.1,52.3z"></path>
<path class="st1" d="M45.7,70.9L45.7,70.9c-0.9,0-1.5-0.6-1.5-1.4v-17h2.9v16.9C47.1,70.2,46.4,70.9,45.7,70.9z"></path>
<path class="st2" d="M48.8,44.7c-1.2-3.1-2.9-5.2-3.2-5.5h-0.1c-0.3,0.3-2,2.5-3.2,5.5c-0.2,0.5-0.7,0.8-1.2,0.7
	c-3.9-0.9-7.4-0.4-7.9-0.3c0,0-0.1,0,0,0.1c0.2,0.5,1.4,3.5,3.8,6.3c2,2.2,5.3,2.8,7.8,1.3l0,0c0.5-0.3,1.1-0.3,1.5,0l0,0
	c2.6,1.5,5.9,0.9,7.8-1.3c2.5-2.8,3.6-5.8,3.8-6.3v-0.1c-0.5-0.1-4-0.6-7.9,0.3C49.5,45.5,49,45.2,48.8,44.7z"></path>
</svg>