{% raw %}
<script>
if(typeof pn === "undefined"){
  pn = {};
}
if(typeof pn.settings === "undefined"){
  pn.settings = {};
}
pn.settings.defaultSetting={"id":8195424,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":null,"h":null,"i":false,"j":null,"k":null,"l":null,"m":"default","n":null,"o":true,"handle":null,"p":null,"y":null,"q":false,"r":false,"s":null,"t":null,"u":1,"v":false,"w":"ribbon","tag":null,"x":null};
pn.settings.singleProductSettings=[{"id":8195429,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Deliveries Start June 2020","h":"below","i":true,"j":"Pre-Order","k":"2020-03-18T02:43:00.000Z","l":"2020-07-01T02:43:00.000Z","m":"variant","n":"31526172131393","o":false,"handle":"robes","p":"4406466871361","y":"https://cdn.shopify.com/s/files/1/0029/4449/9758/products/Casamera_22.jpg?v=1583440078","q":false,"r":false,"s":0,"t":null,"u":1,"v":false,"w":"ribbon","tag":null,"x":"Pre-Order Item"},{"id":8195426,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Deliveries start in June 2020","h":"below","i":true,"j":"Pre-Order","k":"2020-03-18T02:42:00.000Z","l":"2020-07-01T02:42:00.000Z","m":"variant","n":"31526172065857","o":false,"handle":"robes","p":"4406466871361","y":"https://cdn.shopify.com/s/files/1/0029/4449/9758/products/Casamera_22.jpg?v=1583440078","q":false,"r":false,"s":0,"t":null,"u":1,"v":false,"w":"ribbon","tag":null,"x":"Pre-Order Item"},{"id":8195425,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Deliveries Start July 2020","h":"below","i":true,"j":"Pre_Order","k":"2020-03-18T02:41:00.000Z","l":"2020-07-01T02:41:00.000Z","m":"variant","n":"31526172033089","o":false,"handle":"robes","p":"4406466871361","y":"https://cdn.shopify.com/s/files/1/0029/4449/9758/products/Casamera_22.jpg?v=1583440078","q":false,"r":false,"s":0,"t":null,"u":1,"v":false,"w":"ribbon","tag":null,"x":"Pre-Order Item"},{"id":8195428,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Dliveries Start June 2020","h":"below","i":false,"j":"Pre-Order","k":"2020-03-18T02:40:00.000Z","l":"2020-05-31T02:40:00.000Z","m":"variant","n":"31526172098625","o":false,"handle":"robes","p":"4406466871361","y":"https://cdn.shopify.com/s/files/1/0029/4449/9758/products/Casamera_22.jpg?v=1583440078","q":false,"r":false,"s":0,"t":null,"u":1,"v":false,"w":"ribbon","tag":null,"x":"Pre-Order Item"}];
pn.settings.tagSettings=[];
</script>
{% endraw %}
<div id="pn-mixed-cart-warning" class="pn-modal">
  <div id="pn-mixed-cart-warning-content">
    <span id="pn-modal-close-btn">x</span>
    <h2 id="pn-mixed-cart-warning-title"></h2>
    <div id="pn-mixed-cart-warning-text"></div>
  </div>
</div>