<div class="product__form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ product.selected_or_first_available_variant.price | money_without_currency | strip_html }}">
  <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

  

  {% unless product.template_suffix contains 'charge-rabbit' %}
    <div id="AddToCartForm-{{ section.id }}" data-section="{{ section.id }}" class="product-form-{{section.id}} product-form">
      {% form 'product', product %}
        {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
            <div class="selector-wrapper js">
              <label for="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}">
                {{ option.name }}
              </label>
              <select class="single-option-selector single-option-selector-{{ section.id }}" id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}" data-section="{{ section.id }}" data-index="option{{ forloop.index }}">
                {% for value in option.values %}
                  {% assign variant_avialable = true %}
                  {% if product.options.size == 1 %}
                    {% unless product.variants[forloop.index0].available  %}
                      {% assign variant_avialable = false %}
                    {% endunless %}
                  {% endif %}
                  <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}{% unless variant_avialable %} - {{ 'products.product.sold_out' | t }}{% endunless %}</option>
                {% endfor %}
              </select>
            </div>
          {% endfor %}
        {% endunless %}

        <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
          {% for variant in product.variants %}
            {% if variant.available %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                {{ variant.title }}
              </option>
            {% else %}
              <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
          {% endfor %}
        </select>

        {% assign sold_out = true %}
        {% if current_variant.available  %}
          {% assign sold_out = false %}
        {% endif %}
		
      	<div class="qty-size">
            {% if section.settings.show_quantity %}
              <div class="quantity-selector__wrapper text-center" id="Quantity-{{ section.id }}">
                <label for="Quantity" class="quantity-selector uppercase">{{ 'products.product.quantity' | t }}</label>
                <input type="number" name="quantity" value="1" min="1" class="QuantityInput">
              </div>
            {% endif %}
            {% comment %}
              Optional size chart - controlled by Magnific Popup
            {% endcomment %}
            {% if section.settings.info_page != blank %}
              {% assign size_page = pages[section.settings.info_page] %}
              <div class="size-chart-container">
                <a id="toggleProductModal-{{ section.id }}" class="border-bottom-link uppercase" data-mfp-src="#ProductModal-{{ section.id }}">
                  {{ size_page.title }}
                </a>
              </div>
              <div id="ProductModal-{{ section.id }}" class="product-modal mfp-hide">
                <div class="rte">{{ size_page.content }}</div>
              </div>
            {% endif %}
        </div>

        <div class="add-to-cart__wrapper">
          <button type="submit" name="add" id="AddToCart-{{ section.id }}" class="btn btn--large btn--full btn--clear uppercase addToCart{% if sold_out %} disabled{% endif %}" {% if sold_out %}disabled="true"{% endif %}>
            <span id="AddToCartText-{{ section.id }}">{% if sold_out %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}</span>
            {% comment %}
            <span class="unicode">•</span>
            <span class="add-to-cart__price"><span class="buttonPrice" id="ButtonPrice-{{ section.id }}" data-item-price="{{ current_variant.price }}">{{ current_variant.price | money }}</span></span>
            {% endcomment %}
          </button>
        </div>

        {% if section.settings.enable_payment_button %}
          {{ form | payment_button }}
        {% endif %}

      {% endform %}
    </div>
  {% else %}
    <form action="{{ product.metafields.charge_rabbit.subscribe_path }}" method="get" enctype="multipart/form-data" data-section="{{ section.id }}" class="product-form-{{ section.id }} charge-rabbit-product">
      <input type="hidden" name="customer_id" value="{{customer.id}}">
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          <div class="selector-wrapper js">
            <label for="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <select class="single-option-selector single-option-selector-{{ section.id }}" id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}" data-section="{{ section.id }}" data-index="option{{ forloop.index }}">
              {% for value in option.values %}
                {% assign variant_avialable = true %}
                {% if product.options.size == 1 %}
                  {% unless product.variants[forloop.index0].available  %}
                    {% assign variant_avialable = false %}
                  {% endunless %}
                {% endif %}
                <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}{% unless variant_avialable %} - {{ 'products.product.sold_out' | t }}{% endunless %}</option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endunless %}

      <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
        {% for variant in product.variants %}
          {% if variant.available %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
              {{ variant.title }}
            </option>
          {% else %}
            <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
          {% endif %}
        {% endfor %}
      </select>

      {% assign sold_out = true %}
      {% if current_variant.available  %}
        {% assign sold_out = false %}
      {% endif %}

      <div class="add-to-cart__wrapper">
        <button type="submit" name="add" id="AddToCart-{{ section.id }}" class="btn btn--large btn--full btn--clear uppercase addToCart{% if sold_out %} disabled{% endif %}" {% if sold_out %}disabled="true"{% endif %}>
          <span id="AddToCartText-{{ section.id }}">{% if sold_out %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}</span>
          <span class="unicode">&#x2022</span>
          <span class="add-to-cart__price"><span class="buttonPrice" id="ButtonPrice-{{ section.id }}" data-item-price="{{ current_variant.price }}">{{ current_variant.price | money }}</span></span>
        </button>
      </div>
    </form>
    {% include 'membership-product-callbacks' %}
  {% endunless %}
</div>
