<div class="towels-features">
  	<div class="wrapper">
        <div class="tf-title">The World's Softest Towels with <span>8+ Features</span></div>
    	<div class="grid tf-grid">
        	<div class="grid__item large--one-half">
            	<img src="{{ 'featured-img.png' | asset_url }}">  
          	</div>
          	<div class="grid__item large--one-half">
               	<div class="grid feature-grid">
                	<div class="grid__item large--one-third text-center">
                      	<div class="feature-item">
                          <div class="fi-icon">{% include 'icon-feature-lsf' %}</div>
                          <span>Long Staple Fibers</span>
                        </div>
                        <div class="feature-item">
                          <div class="fi-icon">{% include 'icon-feature-go' %}</div>
                          <span>Generously Oversized</span>
                        </div>
                        <div class="feature-item">
                          <div class="fi-icon">{% include 'icon-feature-qtd' %}</div>
                          <span>Quick To Dry</span>
                        </div>
                  	</div>
                    <div class="grid__item large--one-third text-center fi-margin-top">
                      	<div class="feature-item">
                          <div class="fi-icon">{% include 'icon-feature-hg' %}</div>
                          <span>High GSM</span>
                        </div>
                        <div class="feature-item">
                          <div class="fi-icon">{% include 'icon-feature-nor' %}</div>
                          <span>Naturally Odor Resistent</span>
                        </div>
                  	</div>
                    <div class="grid__item large--one-third text-center">
                      	<div class="feature-item">
                          <div class="fi-icon">{% include 'icon-feature-a' %}</div>
                          <span>Absorbent</span>
                        </div>
                        <div class="feature-item">
                          <div class="fi-icon">{% include 'icon-feature-v' %}</div>
                          <span>Versatile</span>
                        </div>
                        <div class="feature-item">
                          <div class="fi-icon">{% include 'icon-feature-d' %}</div>
                          <span>Durable</span>
                        </div>
                  	</div>
                </div>
            </div>
      	</div>
    </div>
</div>