<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta name="google-site-verification" content="iweYBlNmoFOk7ERlJOKKbHWoLaR9FYBo8tcdu4U7Eqg" />
  
  <!-- ======================= Pipeline Theme V4.3.3 ========================= -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <!-- Title and description ================================================ -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ========================================================= -->
  {% include 'social-meta-tags' %}

  <!-- Google dyna,ic remarkteting ========================================== -->
  {% include 'dynamic-remarketing' %}
  
  <!-- Helpers ============================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================================== -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Vendor JS ============================================================ -->
  {{ 'vendor.js' | asset_url | script_tag }}

  {% include 'oldIE-js' %}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        join: {{ 'products.product.join_membership' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      version: '4.3.3'
    }
  </script>

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- Header hook for plugins ============================================== -->
  {{ content_for_header }}
{% include 'discount-combine' %}

  
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5L3CW98"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="preloader" style="background-image: url(https://cdn.shopify.com/s/files/1/0029/4449/9758/files/Casamera_loader.gif?3448);"> </div>
<script type="text/javascript">
$( document ).ready(
  function PageLoad() {
    $(window).load(function(){
      setTimeout(function() { 
      $('.preloader').hide();
      },1000);
    });
  }
);
</script>
  {% section 'header' %}

  <main class="main-content" role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  <script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="{{id}}" data-qty="{{itemMinus}}">&minus;</button>
      <input type="text" class="js-qty__num QuantityInput" value="{{itemQty}}" min="1" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}" data-submit="{{submit}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="{{id}}" data-qty="{{itemAdd}}">+</button>
    </div>
  {% endraw %}
  </script>
  <script id="JsQty--cart" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="{{id}}" data-qty="{{itemMinus}}">&minus;</button>
      <input type="text" value="{{itemQty}}" class="js-qty__num QuantityInput"  min="1" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*" name="updates[]" id="updates_{{id}}" data-submit="{{submit}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="{{id}}" data-qty="{{itemAdd}}">+</button>
    </div>
  {% endraw %}
  </script>

  <!-- Theme Javascript ============================================================== -->
  {{ 'theme.js' | asset_url | script_tag }}

  {% unless settings.cart_type == 'page' %}
  <!-- Ajaxify Cart Plugin ================================================== -->
    {{ 'ajaxify.scss.css' | asset_url | stylesheet_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajaxify.js' | asset_url | script_tag }}
    <script>
      jQuery(document).ready(function(){
       ajaxifyShopify.init({
         method: 'modal',
         wrapperClass: 'wrapper',
         formSelector: '.product-form',
         addToCartSelector: '.addToCart',
         cartCountSelector: '.cartCount',
         cartCostSelector: '.cartCost',
         toggleCartButton: '.CartToggle',
         useCartTemplate: true,
         btnClass: 'btn',
         moneyFormat: {{ shop.money_format | json }},
         disableAjaxCart: false,
         enableQtySelectors: true,
         prependDrawerTo: 'body',
         onToggleCallback: function(){
           jQuery('body').trigger('ajaxCart.afterCartLoad')
         }
       });
      });
    </script>
  {% endunless %}

  <script>
    {% if newHash %}
      $(function() {
        timber.updateHash('{{ newHash }}');
      });
    {% endif %}
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  <!-- Paste mailchimp popup code between comments ===================================== -->

  <!-- End mailchimp ================================================== -->

{% include 'easypopup' %}
  
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Krxi56"></script>
  
<script src='{{ 'ndnapps-promotionbar.js' | asset_url }}' defer='defer'></script>
{% render 'preorder-now' %}
  <!--Gorgias Chat Widget Start--><script id="gorgias-chat-widget-install-v2" src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=11611"></script>
<script id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});</script><!--Gorgias Chat Widget End-->
</body>
<script type="text/javascript">
    window._mfq = window._mfq || [];
    (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/eb0535a2-a144-49ac-bece-9beb4ec568de.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
    })();
</script>
<script>
    (function() {
      var script = document.createElement('script');
      script.src = 'https://backerkit.com/assets/preorders.js';
      script.async = true;
      var entry = document.getElementsByTagName('script')[0];
      entry.parentNode.insertBefore(script, entry);
    })();
</script>
</html>
