{% if section.settings.enable_section %}
<div class="index-signup">
  <div class="wrapper">
    <div class="isu-content"><div class="klaviyo-form-JptCeY"></div></div>
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Index Sign-up section",
    "settings": [
		{
           "type":      "checkbox",
           "id":        "enable_section",
           "label":     "Enable this section?",
           "default":   false
        }
	],
	"presets": [
      {
        "name": "Index Sign-up section",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}