<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item">
        {{ page.content }}
    </div>
  </div>
  <ul class="traceability_social-icons">
    {% if settings.social_twitter_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter" target="_blank" itemprop="sameAs">
        <span class="icon icon-twitter" aria-hidden="true"></span>
        <span class="fallback-text">Twitter</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_facebook_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook" target="_blank" itemprop="sameAs">
        <span class="icon icon-facebook" aria-hidden="true"></span>
        <span class="fallback-text">Facebook</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_instagram_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram" target="_blank" itemprop="sameAs">
        <span class="icon icon-instagram" aria-hidden="true"></span>
        <span class="fallback-text">Instagram</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_pinterest_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_pinterest_link }}" title="{{ shop.name }} on Pinterest" target="_blank" itemprop="sameAs">
        <span class="icon icon-pinterest" aria-hidden="true"></span>
        <span class="fallback-text">Pinterest</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_google_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_google_link }}" title="{{ shop.name }} on Google Plus" target="_blank" itemprop="sameAs">
        <span class="icon icon-google_plus" aria-hidden="true"></span>
        <span class="fallback-text">Google Plus</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_youtube_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_youtube_link }}" title="{{ shop.name }} on Youtube" target="_blank" itemprop="sameAs">
        <span class="icon icon-youtube" aria-hidden="true"></span>
        <span class="fallback-text">Youtube</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_vimeo_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_vimeo_link }}" title="{{ shop.name }} on Vimeo" target="_blank" itemprop="sameAs">
        <span class="icon icon-vimeo" aria-hidden="true"></span>
        <span class="fallback-text">Vimeo</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_tumblr_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_tumblr_link }}" title="{{ shop.name }} on Tumblr" target="_blank" itemprop="sameAs">
        <span class="icon icon-tumblr" aria-hidden="true"></span>
        <span class="fallback-text">Tumblr</span>
      </a>
    </li>
    {% endif %}
    {% if settings.social_fancy_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_fancy_link }}" title="{{ shop.name }} on Fancy" target="_blank" itemprop="sameAs">
        <span class="icon icon-fancy" aria-hidden="true"></span>
        <span class="fallback-text">Fancy</span>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
<script>
  var pageTitle = `{{ page.title }}`;
  if(pageTitle.includes('Robe')){
    document.getElementById("trace-robe-negative").onclick = function() {showUns()};
    document.getElementById("trace-robe-positive").onclick = function() {feedbackMessageForRobe()};
    document.getElementById("submit__robe").onclick = function() {feedbackMessageForRobe_negative()};
  }
  else if (pageTitle.includes('Towels')){
    document.getElementById("trace-towel-negative").onclick = function() {showUns2()};
    document.getElementById("trace-towel-positive").onclick = function() {feedbackMessageForTowel()};
    document.getElementById("submit__towels").onclick = function() {feedbackMessageForTowel_negative()};
  }
 
  function showUns() {
    document.getElementById("uns_form").style.display = "flex";
    document.getElementById("message-for-robe").style.display = "none";
  }  
  function showUns2() {
    document.getElementById("uns_form2").style.display = "flex";
    document.getElementById("message-for-towel").style.display = "none";
  }
  function feedbackMessageForRobe_negative() {
    document.getElementById("message-for-robe-negative").style.display = "flex";
  }
  function feedbackMessageForTowel_negative() {
    document.getElementById("message-for-towel-negative").style.display = "flex";
  }
  function feedbackMessageForRobe() {
    document.getElementById("message-for-robe").style.display = "flex";
    document.getElementById("uns_form").style.display = "none";
  }
  function feedbackMessageForTowel() {
    document.getElementById("message-for-towel").style.display = "flex";
    document.getElementById("uns_form2").style.display = "none";
  }
</script>


<style>
  #{{ page.title | handle }} {
    font-family: Montserrat;
  }
  .traceability_social-icons {
    display: flex;
    justify-content: center;
  }
  .traceability_social-icons li {
    margin: 0 20px;
  }
  .traceability_social-icons li a {
    color: #4b4f54;
  }
  .traceability_social-icons li .icon {
    font-size: 40px;
    line-height: 40px;
  }
  td {
    padding: 25px;
  }
  
  .messages__div {
  	padding: 0;
    display: block;
  }
  
  .traceability__tableTitle {
  	margin: 2.5em 0;
  }
  .traceability__tableCell {
  	width: 33%;
  }
  .traceability__borderTop {
  	border-top: 1px solid #4b4f54;
  }
  .traceability__border {
  	border: 1px solid #4b4f54;
    border-left: none;
    border-right: none;
  }
  .traceability__p {
   margin: 10px 0 !important;
  }
  .traceability__rowName {
    font-size: 20px;
    font-weight: 800;
  }
  .traceability__rowData {
    font-size: 20px;
    text-align: center;
  }
  .traceability__feedbackIcons {
    width: 60px;
    margin: 0 7em;
    cursor: pointer;
  }
  .traceability__feedbackIconsCell {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .traceability__help {
    margin: 70px 0;
    display: flex;
    flex-direction: column;
  }
  .traceability__helpTitle {
  	text-align: center;
  }
  .traceability__email {
    text-align: center;
    font-size: 20px; 
    color: #000000;
  }
  .traceability__emailEmail {
    color: #4b4f54; 
    font-weight: 600;
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  #message-for-towel-negative,
  #message-for-towel,
  #message-for-robe,
  #message-for-robe-negative
  {
    display: none;
    text-align: center;
    justify-content: center;
  }
  
  #message-for-towel,
  #message-for-robe 
  {
    padding: 25px 5px;
  }
  
  
  #uns_form, #uns_form2 {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  #pr_feedback, #pr_feedback2{
   vertical-align: top;
   
  }
  #pr_feedback p, #pr_feedback2 p{
    padding-top: 8px;
  }
  /*#uns_form label, #uns_form2 label {
   display: inline-block;
   margin: 0 10px 4px 0;
  }
  #uns_form input, #uns_form2 input {
   margin: 4px;
  }*/
  
  #negative-robe-form, #negative-towel-form {
    display: flex;
  }
  .negative-option {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 25px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input[type='submit'] {
    width: 180px;
    margin: 28px 0;
  }

  .negative-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .radio--button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    height: 16px;
    width: 16px;
    border: 2px solid;
    border-radius: 50%;
  }


  .radio--button:after {
    content: "";
    position: absolute;
    display: none;
  }

  .negative-option input:checked ~ .radio--button:after {
    display: flex;
  }

  .negative-option .radio--button:after {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4b4f54;
  }

  
  @media (max-width: 900px) and (min-width: 769px) {
    .traceability__feedbackIcons {
      margin: 0 10vw;
    }
  }
  
  @media (max-width: 768px) and (min-width: 500px) {
    .traceability__feedbackIcons {
      margin: 0 3vw;
    }
  }
  @media (max-width: 499px) and (min-width: 280px) {
    
    .traceability__feedbackIcons {
      margin: 0 9vw;
    }
    
    tr {
    	display: flex;
      	flex-direction: column;
    }
    
    td {
      width: 100%;
      padding: 20px 9px;    
    }
    
    
    #uns_form, #uns_form2 {
      margin-left: 0;
    }
    
    #uns_form input[type=submit], #uns_form2 input[type=submit] {
    width: 100%
    }
  }
  
</style>


